@font-face {
    font-family: 'lato';
    src: url('./assets/Lato/lato-regular-webfont.eot');
    src: url('./assets/Lato/lato-regular-webfont.eot#iefix') format('embedded-opentype'),
         url('./assets/Lato/lato-regular-webfont.woff2') format('woff2'),
         url('./assets/Lato/lato-regular-webfont.woff') format('woff'),
         url('./assets/Lato/lato-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
html{
    font-family: 'Lato';
    font-size: 10px;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.main{
    width: 1020px;
    background-color: rgb(94, 72, 94);
}
.header{
    width: 100%;
    height: 95px;
    background-color: #323746;
}
.header .wrapper{
    height: 89px;
    width: 940px;
    background-color: #2d303a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
.logo{
    display: flex;
}
.logo span{
    color: #f06c64;
}
h1{
    font-size: 2.3rem;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0.1rem;
    margin: 0;
}
a{
    text-decoration: none;
}
.header__navigation{
    width: 371px;
}
.navigation {
    width: 100%;
    height: 5px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}
.navigation li{
    color:  #494e62;
}
.navigation li:first-child{
    list-style: none;
}
.navigation li:first-child span{
    color: #f06c64;
}
.navigation li span{
    color: #ffffff;
}
.navigation li span:hover{
    cursor: pointer;
    color: #f06c64;
}
.slider{
    width: 100%;
    height: 600px;
    background-color: #ea676b;
}
.slider .wrapper{
    width: 938px;
    height: 540px;
    background-color: #f06c64;
    display: flex;
    align-items: center;
    padding: 0 40px 58px 42px;
}
.slider__IPhon-horizontal{
    position: relative;
    top: 4px;
    left: 53px;
}
.slider__IPhon-vertical{
    position: relative;
    top: 90px;
    left: -281px;
}
.slider__pointer-left{
    position: relative;
    top: 25px;
}
.slider__pointer-right {
    position: relative;
    top: 25px;
}
.slider_pointer{
    z-index: 4;
}
.slider_pointer:hover{
    cursor: pointer;
    opacity: 0.3;
}
.services{
    width: 100%;
    height: 495px;
    background-color: #ffffff;
}
.services .wrapper{
    width: 940px;
    height: 425px;
    background-color: #f2f2f2;
    padding: 66px 40px 0 40px;
}
h2{
    margin: 0 0 30px 0;
    font-size: 2.8rem;
    line-height: 18px;
    color: #666d89;
    letter-spacing: 2px;
    word-spacing: -5px;
}
.services__content > p{
    font-size: 1.8rem;
    font-weight: 300;
    color: #767e9e;
    line-height: 30px;
    margin-bottom: 42px;
}
.layout-3-column{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.tool{
    width: 299px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    margin-right: 20px;
}
.tool:nth-child(3){
    margin-right: 0;
}
.tool:last-child{
    margin-right: 0;
}
.tool__icon{
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #666d89;
    border-radius: 50%;
    margin-right: 21px;
    margin-top: 3px;
}
.tool h3{
    font-size: 1.8rem;
    margin: 0 0 10px 0;
    color: #666d89;
}
.tool p{
    width: 210px; 
    font-size: 1.2rem;
    line-height: 22px;
    font-weight: 400;
    color: #767e9e;
    margin: 0;
}

.slides {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
 
.slide {
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px; 
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
 
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
 
.showing {
    opacity: 1;
    z-index: 2;
}

.slide img{
    position: absolute;
}
.iPhone-Vertical{
    position: relative;
    width: 242px;
    height: 484px;
    top: 52px;
    left: 52px;
    background-image: url(./assets/Base.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.iPhone-Vertical__screen{
    background-color: #2d303a;
    position: absolute;
    width: 192px;
    height: 338px;
    z-index: 6;
    top: 62px;
    left: 15px;
    background-image: url(./assets/Layer\ 6.png);
    background-position: -13px -131px;

}
.iPhone-Vertical__button{
    position: absolute;
    top: 406px;
    left: 87px;
    cursor: pointer;
    transition: opacity 0.5s;
}
.iPhone-Vertical__button:hover{
    opacity: 0.5;
}
.iPhone-Vertical__camera{
    position: absolute;
    width: 9px;
    height: 9px;
    top: 18px;
    left: 105px;
    z-index: 3;
    border-radius: 4px;
    background-color: #d8d8d8;
    color:  #eb5055;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iPhone-Vertical__camera p{
    margin: 0;
    position: absolute;
    top: -9px;
    font-size: 2rem;
}
.iPhone-Vertical__speaker{
    position: absolute;
    width: 36px;
    height: 5px;
    border-radius: 3px;
    background-color: #acacac;
    z-index: 5;
    top: 38px;
    left: 92px;
}
.screen-Vertical_off{
    background-image: none;
    z-index: 10;
}
.iPhone-Horizontal{
    position: relative;
    height: 242px;
    width: 484px;
    top: 172px;
    right: -125px;
    background-image: url(./assets/Base\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.iPhone-Horizontal__button {
    top: 86px;
    left: 7px;
    cursor: pointer;
    transition: opacity 0.5s;
}
.iPhone-Horizontal__button:hover{
    opacity: 0.5;
}
.iPhone-Horizontal__speaker{
    position: absolute;
    width: 36px;
    height: 5px;
    border-radius: 3px;
    background-color: #acacac;
    z-index: 5;
    top: 107px;
    right: 46px;
    transform: rotate(90deg);
}
.iPhone-Horizontal__camera{
    position: absolute;
    width: 9px;
    height: 9px;
    top: 104px;
    right: 42px;
    z-index: 3;
    border-radius: 4px;
    background-color: #d8d8d8;
    color: #eb5055;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iPhone-Horizontal__camera p{
    margin: 0;
    position: absolute;
    top: -9px;
    font-size: 2rem;
}
.iPhone-Horizontall__screen{
    background-color: #2d303a;
    position: absolute;
    height: 192px;
    width: 338px;
    z-index: 6;
    top: 13px;
    left: 57px;
    background-image: url(./assets/Layer\ 5.png);
    background-position: -122px -116px;
}
.screen-Horizontall_off{
    background-image: none;
}